<!DOCTYPE html>
<html>
<head>
<title>Add Employee</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="container">

<h2>Add Employee</h2>

<form method="POST" action="/add">

<input name="name" placeholder="Employee Name" required>
<input name="department" placeholder="Department" required>
<input type="number" name="salary" placeholder="Basic Salary" required>

<button class="btn btn-success">Save Employee</button>
</form>

<a href="/" class="back"><button  class="btn btn-primary">Back to Dashboard</button></a>

</div>

</body>
</html>
