/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f7fb;
  
  /* background-image: linear-gradient(to right,rgb(183, 198, 203),rgb(91, 88, 88), rgb(42, 102, 129)); */
  background-color: rgb(217, 215, 215);
}
.top{
    
  background-color: rgb(167, 166, 166);
  color: rgb(68, 143, 124);
  padding:20px;
  
}

/* Container */
.container {

  
  background: rgb(217, 215, 215);
  padding: 30px;
  
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* Headings */
h1, h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Buttons */
.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.btn-primary {
  background: #5e6064;
  color: white;
}

.btn-primary:hover {
  background: #1e4fd8;
}

.btn-success {
  background: #10b981;
  color: white;
}

.btn-success:hover {
  background: #059669;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background: #521b18;
  color: white;
  padding: 12px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #a5a5a5;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

input:focus {
  outline: none;
  border: 1px solid #2563eb;
}

/* Search Bar */


.search-box input {
  width: 100px;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Back link */
.back {
  display: inline-block;
  margin-top: 10px;
}
.btn-danger {
  background: #ef4444;
  color: white;
}

.btn-danger:hover {
  background: #dc2626;
}
.search-box {
  margin: 20px 0;
}

.search-box input {
  width: 350px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.search-box input:focus {
  outline: none;
  border: 1px solid #2563eb;
}

